img {
  border-style: solid;
}
.animeCard {
  margin-left: 40ch;
  margin-right: 40ch;
  /* margin-top: 1ch;
    margin-bottom: 1ch; */
  border-style: solid;
}
.animeName {
  border-style: solid;
}
.animeImage {
  border-style: solid;
  vertical-align: middle;
}
.animeSynopsis {
  /* width: 100ch; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis; */
  display: inline-block;
  border-style: ridge;
}
.pageHeader {
  border-style: solid;
}
.headTitle {
  text-align: center;
}
.body {
  border-style: solid;
  color: black;
}
.outerBody {
  border-style: solid;
  background-color: black;
}
